body {
    font-family: 'Kosugi Maru', 'Noto Sans SC', Helvetica, Arial, sans-serif !important;
    /* font-family: 'Zen Maru Gothic', 'Noto Sans SC', Helvetica, Arial, sans-serif !important; */
}

#visualizer_wrapper {
    text-align: center;
}

.thead {
    text-align: center;
}

.green {
    accent-color: rgb(160, 255, 83);
}


/********** Range Input Styles **********/


/*Range Reset*/

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}


/* Removes default focus */

input[type="range"]:focus {
    outline: none;
}


/***** Chrome, Safari, Opera and Edge Chromium styles *****/


/* slider track */

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
}


/* slider thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -12px;
    /* Centers thumb on the track */
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}


/******** Firefox styles ********/


/* slider track */

input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
}


/* slider thumb */

input[type="range"]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0;
    /*Removes default border-radius that FF applies*/
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}

ul {
    transition-duration: 600ms;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.on {
    color: #5dfff1;
    text-shadow: 0 0 10px #ded1fc;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
    line-height: 16px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

audio {
    margin-top: 10px;
}